{% extends 'layouts/base.html' %}

{% set page_title = candidate.name + ' for ' + job_title %}
{% block body %}
    <div class="columns medium-10 medium-offset-1">
        <div class="columns medium-4">
            <h3>{{ candidate.name }}</h3>
            <h4>for {{ job_title }}</h4>
            <hr/>
            <h5 class="auto-rating">Auto Rating: 0</h5>
{#            <h5 class="manual-rating">Manual Rating: {{ candidate.rating }}</h5>#}
            <div id="manual-rating"></div>
            <br/>
            <br/>
            <span class="button small radius candidate">
                <a href="{{ candidate.resume_key }}" download><i class="fi-download"></i> Download Resume</a>
            </span>
            <span class="button small radius candidate success back">
                <i class="fa fa-reply"></i> Back
            </span>

        </div>
        <div class="columns medium-8 messenger">RecruiterBot messenger</div>
        <div class="columns medium-8 chat">

            <ol class="discussion">
                {% for message in messages %}
                    {% if message.reply != "immediateNext" %}
                    <li class="{{ message.direction }}">
                        {% if message.direction == "out" %}
                        <div class="avatar">
                            <img src="{{ url_for('static', filename='images/JobRobin.png') }}" />
                        </div>
                        {% endif %}
                        <div class="messages">
                            {% if message.attached_media_url %}
                                <a class="message_media" href="{{ message.attached_media_url }}">Download Media</a>
                            {% else %}
                                {{ message.reply }}
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $( function () {
        function save_rating(rating) {
            $.ajax({
                type: 'PUT',
                url: '{{ url_for('api.put_candidate', candidate_id=candidate.id) }}',
                data: JSON.stringify({rating: parseInt(rating, 10)}),
                contentType: "application/json",
                dataType: 'json',
                error: function() {
                    $("#manual-rating").notify("Error when updating rating", "error");
                }
            })
        }
         var rating = parseInt({{ candidate.rating }}, 10);

      $("#manual-rating").ratings({
          stars: 5,
          default_stars: rating,
          on_select: save_rating
      });
      $('.back').click( function(){
		parent.history.back();
		return false;
	  });
    } );
  </script>
{% endblock %}

