{% set page_title = 'Candidates' %}
{% set body_id = 'candiates_body' %}
{% block body %}
  <div class="columns datatables-list medium-8 medium-offset-2">
    <h3 class="page-title">{{ page_title }}</h3>
    {% if candidates %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Candidate Type</th>
            <th>Manual Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
            <tr>
              <td>
                  <a href = "{{url_for(candidate.show, id=candidate.id)}}">{{ candidate.display_name }}</a>
              </td>
                <td>{{candidate.bot.channel_type}}</td>
                <td>{{candidate.bot.rating}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1 class="new">No candidates exist for this job posting!</h1>
    {% endif %}
  </div>
{% endblock %}
