{% extends 'layouts/base.html' %}

{% set candidate_name = candidate.name if candidate.name else 'Not Given' %}
{% set page_title = candidate_name + ' for ' + job_title %}
{% block body %}
    <div class="columns medium-10 medium-offset-1">
        <div class="columns medium-4">
            <h3>{{ candidate_name }}</h3>
            <h4>for {{ job_title }}</h4>
            <hr/>
            <h5 class="auto-rating">Auto Rating: 0</h5>
            <div id="manual-rating"></div>
            <br/>
            <div>
                <div class="columns medium-3"><label for="status">Status</label></div>
                <div class="columns medium-9">
                    <select id="status" name="status">
                        <option value="New" {% if candidate.status == "New" %}selected{% endif %}>New</option>
                        <option value="Reviewed" {% if candidate.status == "Reviewed" %}selected{% endif %}>Reviewed</option>
                        <option value="Scheduled" {% if candidate.status == "Scheduled" %}selected{% endif %}>Scheduled</option>
                        <option value="Interviewed" {% if candidate.status == "Interviewed" %}selected{% endif %}>Interviewed</option>
                        <option value="Offer Made" {% if candidate.status == "Offer Made" %}selected{% endif %}>Offer Made</option>
                        <option value="Hired" {% if candidate.status == "Hired" %}selected{% endif %}>Hired</option>
                        <option value="Shortlisted" {% if candidate.status == "Shortlisted" %}selected{% endif %}>Shortlisted</option>
                        <option value="Rejected" {% if candidate.status == "Rejected" %}selected{% endif %}>Rejected</option>
                    </select>
                </div>
            </div>
            <br id="msg"/>
            <br/>
            <br/>
            <br/>
            <span class="button small radius candidate">
                <a href="{{ candidate.resume_key }}" download><i class="fi-download"></i> Download Resume</a>
            </span>
            <span class="button small radius candidate success back">
                <i class="fa fa-reply"></i> Back
            </span>

        </div>
        <div class="columns medium-8 messenger">RecruiterBot messenger</div>
        <div class="columns medium-8 chat">

            <ol class="discussion">
                {% for message in messages %}
                    {% if message.reply != "immediateNext" %}
                    <li class="{{ message.direction }}">
                        {% if message.direction == "out" %}
                        <div class="avatar">
                            <img src="{{ url_for('static', filename='images/JobRobin.png') }}" />
                        </div>
                        {% endif %}
                        <div class="messages">
                            {% if message.attached_media_url %}
                                <a class="message_media" href="{{ message.attached_media_url }}">Download Media</a>
                            {% else %}
                                {{ message.reply }}
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $( function () {
        function update_candidate(key, value) {
            var obj = {};
            obj[key] = value;
            $.ajax({
                type: 'PUT',
                url: '{{ url_for('api.put_candidate', candidate_id=candidate.id) }}',
                data: JSON.stringify(obj),
                contentType: "application/json",
                dataType: 'json',
                error: function() {
                    $("#msg").notify("Error while updating rating", "error");
                }
            })
        }
        function save_rating(data) {
            update_candidate("rating", data);
        }
        function save_status(data) {
            var option = $(this).find('option:selected').val();
            update_candidate("status", option);
        }
        var rating = parseInt({{ candidate.rating }}, 10);
        var status = "{{ candidate.status }}",
            $status = $("#status");

        $status.on('change', save_status);

        $("#manual-rating").ratings({
            stars: 5,
            default_stars: rating,
            on_select: save_rating
        });
        $('.back').click( function(){
		    window.history.back();
		    return false;
	    });
    } );
  </script>
{% endblock %}

