packages:
  yum:
    # Required to build libsass.
    gcc48-c++: []
    # Required to install pip packages from git repos.
    git: []
    # Required for bcrypt and cffi.
    libffi-devel: []

container_commands:
  01createdb:
    command: "python manage.py createdb"
    leader_only: true
  02migrate:
    command: "python manage.py db upgrade head"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DEBUG: "False"
    IS_DEV: "False"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "app/static/"
