<div id="upload-file-exists" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <h2>File Exists</h2>
  <div>A file with the same filename already exists. Please change the filename and try again.</div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="upload-failed" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <h2>Upload Failed</h2>
  <div>The file failed to upload. Please try again.</div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>