{% extends "layouts/base.html" %}
{% block css_style %}
{% include 'security/_background.html' %}
{% endblock %}

{% from 'macros/_foundation_forms.html' import render_field, render_checkbox_field %}

{% set page_title = 'Change password' %}

{% block body %}
    <div class="columns medium-4 medium-offset-4 end login">
        <b>Change password</b>
        <br/>
        <br/>
        <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
          {{ change_password_form.hidden_tag() }}
          {{ render_field(change_password_form.password) }}
          {{ render_field(change_password_form.new_password) }}
          {{ render_field(change_password_form.new_password_confirm) }}
          <br/>
          <button type="submit" class="button tiny radius">Submit</button>
        </form>
    </div>
{% endblock %}