{% extends 'layouts/base.html' %}

{% set page_title = 'Vacancy List for ' + company.name if company != None else 'Onboarding in progress' %}
{% block body %}
    <div class="columns datatables-list medium-8 medium-offset-2">
        <h3 class="page-title">{{ page_title }}</h3>
        {% if company != None %}
          <div class="columns controls small-2">
              <a class="button tiny primary radius"
                 href="{{ url_for('job.new') }}">New</a>
          </div>
        {% endif %}
        {% if jobs %}
            <table id="vacancies" style="position: relative; right: -25600px">
                <thead>
                <tr>
                    <th>Vacancy Title</th>
                    <th>Candidate Total</th>
                    <th>Job Description</th>
                    <th>Passive Bots</th>
                    <th>Active Bots</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr {% if not job.is_published %}class="not-published"{% endif %}>
                        <td>{% if job.is_published %}
                            <a class="job_title" href={{ url_for("candidates.index", job_id=job.id) }}>{{ job.title }}</a>
                        {% else %}
                            {{ job.title }}
                        {% endif %}
                        </td><td>{{ job.candidate_count }}</td>
                        <td>
                            {% if not job.jd_file_key %}
                                None
                            {% else %}
                                <a href="{{ generate_signed_url(job.jd_file_key) }}" target="_blank">Download</a><br>
                            {% endif %}
                        </td>
                        <td>{% if job.is_published %}
                            {% if job['web_passive_url'] %}
                                <span class="button tiny radius clip bot"
                                      data-clipboard-text="{{ job['web_passive_url'] }}"
                                      title="{{ job['web_passive_url'] }}"><i
                                        class="fi-web"></i></span>
                            {% endif %}
                            {% if job['fb_passive_url'] %}
                                <span class="button tiny radius fb clip bot"
                                      data-clipboard-text="{{ job['fb_passive_url'] }}"
                                      title="{{ job['fb_passive_url'] }}"><i
                                        class="fi-social-facebook"></i></span>
                            {% endif %}
                        {% else %}
                            Not yet posted
                        {% endif %}
                        </td>

                        <td>{% if job.is_published %}
                            {% if job['web_active_url'] %}
                                <span class="button tiny radius clip bot"
                                      data-clipboard-text="{{ job['web_active_url'] }}"
                                      title="{{ job['web_active_url'] }}"><i
                                        class="fi-web"></i></span>
                            {% endif %}
                            {% if job['fb_active_url'] %}
                                <span class="button tiny radius fb clip bot"
                                      data-clipboard-text="{{ job['fb_active_url'] }}"
                                      title="{{ job['fb_active_url'] }}"><i
                                        class="fi-social-facebook"></i></span>
                            {% endif %}
                        {% else %}
                            Not yet posted
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if company != None%}
                <h1 class="new">No jobs found. Please add a new job</h1>
            {% else %}
                <h1 class="new">No jobs found</h1>
            {% endif %}

        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $( function () {
            var $table = $( '#vacancies' );

            var columnsOptions = [
                {
                    title: "Vacancy Title",
                    className: "dt-left",
                    width: "150px"
                },
                {
                    title: "Candidate Total"
                },
                {
                    title: "Job Description",
                    orderable: false
                },
                {
                    title: "Passive Bots",
                    orderable: false
                },
                {
                    title: "Active Bots",
                    orderable: false
                }
            ];

            $table.css( 'right', '0' ).dataTable( {
                scrollX: false,

                "pageLength": 10,
                "lengthMenu": [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
                "order": [ [ 0, 'asc' ] ],
                "columns": columnsOptions
            } );

            var clipboard = new Clipboard( '.clip' );
            $(".clip").on('click', function() {
                $(this).notify("Bot URL copied to clipboard","info")
            })

        } );
    </script>
    {% include 'snippets/_insert_controls_datatables_top_row.html' %}
{% endblock %}