@import 'style_guide';
$navbar-default-bg: $phwm-green-0;
$navbar-default-border: $phwm-green;
$navbar-default-link-color: $white;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-bg: $phwm-green-hover;
$navbar-default-brand-hover-color: $white;
$navbar-default-link-hover-bg: $phwm-green-hover;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: $phwm-green-hover;

// buttons
$brand-danger: #cf2a0e;
$brand-primary: $phwm-blue;
$btn-default-bg: #e7e7e7;
@import '../vendor/bootstrap-3.3.5/bootstrap';

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: $phwm-green-0;
}

.navbar-default .navbar-nav>.active>a {
    background-image: none;
}

body {
    padding-top: 0 !important;
}

.container-fluid {
    padding: 0;
}

.navbar.navbar-default {
    border-radius: 0;
}
