@import 'style_guide';

$navbar-default-bg: $charcoal;
$navbar-default-link-color: $white;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-bg: $jobrobin-orange;
$navbar-default-brand-hover-color: $white;
$navbar-default-link-hover-bg: $tuatara;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $jobrobin-orange;
$navbar-default-link-active-bg: $tuatara;

// buttons
$brand-danger: #cf2a0e;
$brand-primary: $jobrobin-orange;
$btn-default-bg: $smoke;
@import '../vendor/bootstrap-3.3.5/bootstrap';

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: $charcoal;
}

.navbar-default .navbar-nav>.active>a {
    background-image: none;
}

body {
    padding-top: 0 !important;
}

.container-fluid {
    padding: 0;
}

.navbar.navbar-default {
    border-radius: 0;
}

.admin-body {
    width: 90vw;
    max-width: 90vw;
    overflow: auto;
    margin: 0 auto;
}