@import 'style_guide';

// FOUNDATION CONFIG

@import '../vendor/foundation/foundation/_functions.scss'; // Utility Functions

// b. Grid
$row-width: rem-calc(1380); // 1440px - 2 * $column-gutter
$aside-width: rem-calc(360); // $column-width * 3

// c. Global
$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: "Source Code Pro", Consolas, "Liberation Mono", "Courier New", monospace;
$form-spacing: rem-calc(9.35);
$switch-height-med: 1.5rem;
$switch-bottom-margin: 0;

$primary-color: $jobrobin-orange;
$header-font-color: $charcoal;

// 09. Dropdown Buttons

$f-dropdown-max-width: 360px;
$f-dropdown-height: auto;
$f-dropdown-max-height: 520px;
$f-dropdown-content-padding: rem-calc(10);

// 22. Pricing Tables
$price-desc-align: left;
$price-item-align: left;
$price-item-padding: rem-calc(15);
$price-item-font-size: rem-calc(14);


// 34. Top Bar
$topbar-margin-bottom: rem-calc(45);
$topbar-bg-color: $charcoal; // Nav background
$topbar-link-bg-hover: $jobrobin-orange; // hover over Logout/Login button
$topbar-dropdown-link-bg: $charcoal; // dropdown link bg color
$topbar-dropdown-link-bg-hover: $jobrobin-orange; // dropdown link hover bg color

@import '../vendor/foundation/foundation';

// Icons
$fi-path: '../fonts/foundation-icons';
@import '../vendor/foundation-icons';

// FONT-AWESOME
@import "fa/font-awesome";

// CORE

// Navigation
.top-bar .title-area .name:hover {
	background-color: $jobrobin-orange; // hover color for Upper left logo text
}

.top-bar {
  margin-bottom: 12px;
}

// Tables
table {
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

table tr th,
table tr td {
  padding: 0.1rem;
  text-align: center;
}

// LAYOUT

.row-max-width {
  @extend .row;
  max-width: 100%;
  padding-right: 1%;
  padding-left: 1%;
}

.row-compensate-footer {
  padding-bottom: rem-calc(17 * 3);
}

main.has_sidebar {
  padding-right: $aside-width + $column-gutter;
}

aside.sidebar {
  position: absolute;
  width: $aside-width;
  right: 0;
  top: 45px;
}

footer { // put the footer on the bottom and style the links
	position: fixed;
	bottom: 0;
	background-color: $jobrobin-grey;
	color: $white;
	a, a:hover {
		color: $white;
	}
	a:hover {
		color: scale-color($white, $lightness: -20%);
	}
}

.condensed-form fieldset {
  margin: 0;
}

// TYPOGRAPHY

// Page Titles

.page-title {
  text-align: center;
  margin-bottom: -50px;
  line-height: 41px;
  span.warning {
    color: $red-1;
  }
}

.row-max-width {
   .page-title {
    margin-bottom: -46px;
    line-height: 44px;
  }
}

// No Resource Message

h1.new {
    text-align: center;
    margin-top: 100px;
}


// COMPONENTS

// Landing Page

#home {
  background-size: cover;
  .heading {
    text-align: center;
    margin-top: 4rem;
  }
  .cta {
    margin-top: 5rem;
  }
}

// Client Sidebar

i {
  font-size: 1.3rem;
  color: $charcoal;
  &.right {
    margin-left: 1rem;
  }
  + span {
      margin-left: 1rem;
  }
}

i.highlight {
  height: 24px;
}

// Show section top bar
.edit-header {
  h3 {
    display: inline-block;
  }
  .button.alert {
    padding: 0 2px;
    margin-left: 4px;
    top: -8px;
  }
}

// Datatables
@import 'datatables';

// Date-picker
@import '../vendor/foundation-datepicker/foundation-datepicker';

// Dropzone
@import '../vendor/dropzone-4.2.0/dropzone';

.dropzone {
  border: 2px dashed $jumbo;
  color: $jumbo;
  text-align: center;
  display: flex;
  height: 144.365px;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  transition: border-color 1s ease;
  &:hover {
    border: 2px solid $jobrobin-orange;
  }
}

tr.not-published {
  td {
    color: $jobrobin-grey;
  }
}

td > span.button{
  margin-bottom: 0px;
  &.fb {
    background-color: $charcoal;
    &:hover, &:focus {
      background-color: $tuatara;
    }
  }
  &.bot{
    padding: 0.2rem 1.25rem 0.1rem 1.25rem;
    i {
      font-size: 1.4rem;
    }
  }
}

a.job_title {
  font-weight: bold;
}

.button > a {
  color: $white;
}

.button.candidate {
  min-width: 180px;
  &.back {

  }
}
@import "chat";

// Ratings
.rate_star:before {
    content: "\f1ee";
    font-family: 'foundation-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.rate_star{
    color: #cccccc;
    cursor: pointer;
    font-size: 2rem;
    padding-left: .5rem;
  &.small {
    font-size: 1.2rem;
    padding-left: .25rem;
    cursor: default;
  }
}
.rate_star.over{
    color: #f9e431;
}
.rate_star.checked{
    color: #F9D932;
}

#resume h4 {
  text-align: center;
}

.banner {
  height: 290px;
  img {
    width: 100%;
    max-height: 290px;
    margin-bottom: -110px;
  }
  h2, h3, h4 {
    margin-left: 15px;
    color: $white-smoke;
    text-shadow:
       3px 3px 0 #333,
     -1px -1px 0 #333,
      1px -1px 0 #333,
      -1px 1px 0 #333,
       1px 1px 0 #333;
  }
}

.info_block {
  padding: 0 0 15px 0;
  border: 1px solid $jobrobin-grey;
  h4 {
    margin-top: 0;
    color: white;
    background: $jobrobin-grey;
    padding: 5px 10px;
  }
}