// STYLE GUIDE

// Colour Scheme

$jobrobin-orange : #EF5714;
$jobrobin-grey : #817F7F;

// Reds
$red-0 : #BA0F26;
$red-1 : #D8202E;
$red-2 : #FF3F49;

// Greens
$green-0 : #28942E;
$green-1 : #4ABA64;
$green-2 : #7BCB8D;
$green-3 : #A7DCB3;
$green-4 : #D3EDD9;
$green-5 : #FFFFFF;

// Blues
$blue-0 : #134177;
$blue-1 : #00529b;
$blue-2 : #0094FF;
$blue-3 : #38A4FF;
$blue-4 : #94CDFF;
$blue-5 : #D7ECFD;
$blue-6 : #063E89;
$blue-7 : #0F7DFF;

// Greyscale
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;
